@charset "utf-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
:root {
    --cor01: #548DF0;
    --cor02:#545CF0;
    --cor03:#54BEF0;
    --cor04:#488BF0;
    --cor05:#7F54F0;
    --cor06:#ACC6F2;
}
body,html {
    background-color:var(--cor02)  ;
    width: 100dvw;
    box-sizing: border-box;
    height: 100dvh;
}
main{
    height: 100dvh;
    width: 100dvw;
    position: relative;
}
section#login{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 250px;
    height: 500px;
    overflow: hidden;

}
div#imagem{
    background-image: url(../imagens/metal.jpg);
    background-size: cover;
    background-position: left bottom;
    width: 100%;
    height: 50%;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
    display: block;
    
}
#formulario{
    padding: 10px;
    display: block;
}
