@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
}

body {
    background-color:#8d5fe9  ;
    
   position: relative;
   padding: 30px;
    
    height: 100vh;
}
main{
    color: black;
    background-color: white;
   margin-top: 50%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
section{
    width: 250px;
    height: 415px;
    padding: 20px;
    line-height: 1.2em;
}
form{
    margin-top: 10px;
}
main h1{
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
main form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main form button{
    padding: 10px 20px;
    background-color: purple
    ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
main form button:hover{
    background-color: #8d5fe9;
    color: black;
    font-weight: bold;
}
.inputs{
    width: 75%;
    background-color: rgb(101, 37, 153);
    color: white;
    border: none;
    border-radius: 5px;

}
.inputs::placeholder{
    color: white;
}
.inputs:focus{
    background-color: #ffffff;
    color: black;
    border: none;
}
.divfundo{
    background-color: #8d5fe9;
    margin-bottom: 5px;
    border-radius: 15px;
}
.divfundo span{
    color: white;
    font-size: 2em;
    text-align: left;
}
.material-symbols-outlined{
    font-size: 2em;
    color: white;
    padding-left: 5px;
}
.esqueciSenha{
    color: rgb(119, 119, 119);
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    background-color: rgba(135, 207, 235, 0.534);
    width: 100%;
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
}
.esqueciSenha:hover{
    background-color: rgb(135, 207, 235);
    color: white;

}
#imagen{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    background-image: url( ../imagens/metal.jpg);
    background-size: cover;
    border-radius: 0px 15px;
}
