@charset "utf-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
:root {
    --cor01: #548DF0;
    --cor02:#545CF0;
    --cor03:#54BEF0;
    --cor04:#488BF0;
    --cor05:#7F54F0;
    --cor06:#ACC6F2;
}
body,html {
    background-color:var(--cor02)  ;
    width: 100dvw;
    box-sizing: border-box;
    height: 100dvh;
}
main{
    height: 100dvh;
    width: 100dvw;
    position: relative;
}
section#login{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 250px;
    height: 550px;
    overflow: hidden;

}
div#imagem{
    background-image: url(../imagens/metal.jpg);
    background-size: cover;
    background-position: left bottom;
    width: 100%;
    height: 200px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
    display: block;
    
}
#formulario{
    padding: 10px;
    display: block;
    
}
div.campo{
background-color: var(--cor06);
text-align: center;
border-radius: 15px;
padding: 3px;
margin-bottom: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);
height: 50px;

}
div.campo > span.material-icons{
    font-size: 1.9em;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
input{
    font-size: .8em;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor06);
    color: white;
height: 30px;        
}
input::placeholder{
    text-decoration: underline;
}
input:hover::placeholder{
    text-decoration: none;
}
button.submit{
    background-color: var(--cor01);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom:5px ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);

    
    
}
button.submit:hover{
    background-color: #488bf038;
    color: var(--cor04);
}
button.submit:active{
    background-color: #2c2f33;
    color: white;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    color: var(--cor04);
    padding-top: 10px;
}
.ptext{
    color: var(--cor05);
    margin-bottom: 5px;
    text-indent: 5px;
    padding: 5px;


}
.Esquecisenha{
    text-align: center;
    display: block;
    background-color: #488bf038;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    height: 37px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);


}
.Esquecisenha:hover{
    background-color: #488bf0;
    color: white;
}
.Esquecisenha:active{
    background-color: #2c2f33;
    color: var(--cor04);
}
a{
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    
    display: block;
}
a:hover{
    color: white;
}
#emailicon{
    font-size: 1em;
}